<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %> 

    <section class="text-light p-5 text-center mt-5">
        <h4>course catalog</h4>
    </section>

    <section id="learn" class="p-5">
        <h2 class="text-center">Modify:</h2>
        <div class="container">
		<button id="addCourseBtn" class="btn btn-add-course mb-3">Add Course</button>

           
            <table class="table table-bordered" id="courseTable">
                <thead>
                    <tr>
                        <th>CRN</th>
                        <th>Subject</th>
                        <th>Course</th>
                        <th>Mode</th>
                        <th>Instructor</th>
                        <th>Days & Location</th>
                        <th>Date</th>
                        <th>Credits</th>
                        <th>Description</th>
                        
                    </tr>
                </thead>
                <tbody>
                    <% if (Array.isArray(course)) { %>
                        <% course.forEach(course=> { %>
                        
                            <tr>
                                <td><%= course.crn %></td>
                                <td><%= course.subject %></td>
                                <td><%= course.course %></td>
                                <td><%= course.mode %></td>
                                <td><%= course.instructor %></td>
                                <td><%= course.daysLocation %></td>
                                <td><%= course.date %></td>
                                <td><%= couse.credits %></td>
                                <td><%= course.description %></td>
                            
                            </tr>
                        <% }); %>
                        <% } %>
                </tbody>
            </table>
           
        </div>
        
    </section>

   

    <footer class="text-center p-4">
        <div class="container">
            <p class="mb-0">2024 MB College</p>
        </div>
    </footer>

   
    
</body>
</html>